*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: aliceblue;
}
#wrapper {
  height: 99vh;
  width: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  border:2px solid rgba(133, 182, 231, 0.971);
}

h1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border:1px solid rgba(133, 182, 231, 0.971);
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
}
#guess{
    margin-top: 18px;
    font-size: 2rem;
    color: rgba(249, 252, 255, 0.971);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#guessField{
    margin: 20px auto;
    padding: 10px;
    width: 180px; 
    font-size: 1.3rem;
    border: none;
    height: 40px;
    border-radius: 5px;

}
#subt{
    height: 32px;
    width: 124px;
    font-size: 1.1rem;
    margin: auto;
    background-color: black;
    color:aliceblue ;
    border:1px solid rgba(133, 182, 231, 0.971);
    border-radius: 5px;
    cursor: pointer;

}
.resultParas{
    margin-top: 20px;
    text-align: center;
}
.button{
    height: 32px;
    width: 124px;
    margin: auto;
    background-color: black;
    border:1px solid rgba(133, 182, 231, 0.971);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4px;
}
#newGame{
    color:aliceblue ;
    font-size: 1.1rem;
    font-weight: 100;
    padding-top: 5px;
}
#subt:hover{
    background-color:rgba(98, 170, 241, 0.971);
}
.button:hover{
    background-color:rgba(98, 170, 241, 0.971);
}